@model ICI.ProvaCandidato.Negocio.News

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Tags" class="control-label">Tags</label>
                <select asp-for="SelectedTagIds" asp-items="ViewBag.Tags" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="SelectedTagIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function clearForm() {
            document.querySelector('form').reset();
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
